<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
      </header>
       <p>I am a researcher at the Department of Information
       Technology, University of Turku. My research is in the area of
       natural language
       processing. See <a href="bionlp.utu.fi">bionlp.utu.fi</a>, the
       pages of our research group, for more details.</p>

       <p>I was born in 1978 in Ostrava, Czech Republic
       (Czechoslovakia back then) In 2001, I got a M.Sc. in
       computer science at the computer science department of VSB -
       Technical University Ostrava. My major subject was artificial
       intelligence. I gained a PhD in computer science in 2007. The
       title of my thesis is Towards Information Extraction in the
	 Biomedical Domain: Methods and Resources.</p>

       <p>As of 2016, I am an assistant professor of language technology.</p>

    </div>
    <span class="image object right">
      <img src="assets/images/isokari.jpg" alt="" />
    </span>
  </section>
